.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: var(--backgroundColor);
}
.about-header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.about-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}
.about-header-content h1 {
    font-size: min(5vw, 3rem);
    letter-spacing: 0.3rem;
    font-family: "Archivo", sans-serif;
    text-transform: uppercase;
}
.about-header-content p {
    font-size: min(3vw, 1.4rem);
    max-width: 800px;
    text-align: center;
}
.about-header-img {
    width: 100%;
    max-height: 800px;
    min-height: 300px;
    object-fit: cover;
    z-index: 0;
}

/* Main content */
.about-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 1400px;
    font-size: 1.2rem;
    gap: 1em;
    background-color: white;
}
.section-img {
    width: 100%;
    object-fit: cover;
}
.img-container {
    max-width: 300px;
}
.img-container-large {
    max-width: 500px;
}
/* Introduction */
.introduction-section {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    background-color: white;
}
.main-heading {
    width: 60%;
    max-width: 1400px;
    z-index: 100;
}
.main-heading h1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.3rem;
    font-family: "Archivo", sans-serif;
    text-transform: uppercase;
    font-size: min(3vw, 1.6rem);
}
.introduction-statement {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    max-width: 1400px;
    width: 100%;
    z-index: 100;
}
.introduction-statement p {
    font-size: min(2.2vw, 1.2rem);
}
/* Sections */
.main-content-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(
        70deg,
        rgb(206, 178, 39) 16%,
        rgb(255, 255, 255) 20px
    );
    gap: 1rem;
    padding: 1rem;
}
#about-reverse {
    flex-direction: row-reverse;
    background: linear-gradient(
        -70deg,
        rgb(206, 178, 39) 16%,
        rgb(255, 255, 255) 20px
    );
}
.main-content-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 420px;
}
.sub-heading h2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.3rem;
    font-family: "Archivo", sans-serif;
    text-transform: uppercase;
    font-size: min(2.8vw, 1.4rem);
}
.personal-quote {
    padding: 0 1rem;
    border-left: 5px solid rgb(206, 178, 39);
    line-height: 3rem;
    font-size: min(2vw, 1.2rem);
}
.indepth-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.indepth-info p {
    font-size: min(2.2vw, 1.2rem);
}

/* Break */
.break-section {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(
        to right,
        rgba(47, 47, 47),
        rgb(14, 14, 14),
        rgb(47, 47, 47)
    );
    border-bottom: 10px solid rgb(216, 200, 121);
    border-top: 10px solid rgb(216, 200, 121);
    color: white;
    width: 100vw;
    min-height: 250px;
}
.personal-quote-alt {
    padding: 0 1rem;
    border-left: 5px solid rgb(206, 178, 39);
    line-height: 3rem;
    font-size: min(3vw, 1.75rem);
}
/* Future */
.current-work-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    background: linear-gradient(
        70deg,
        rgb(206, 178, 39) 25%,
        rgb(255, 255, 255) 20px
    );
    padding: 1rem;
    align-items: center;
}
.indepth-info3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 1rem;
}
.indepth-info3 p {
    font-size: min(2.2vw, 1.2rem);
}
.about-booking {
    align-self: center;
    margin: 2rem 0;
}
.outsideSalon-img {
    width: 100%;
}

@media screen and (max-width: 430px) and (orientation: portrait) {
    .about-header-container {
        height: 300px;
    }
    .about-header-img {
        width: unset;
        max-height: 300px;
        position: absolute;
    }
    .about-header-content {
        padding: 0.5rem;
    }
    .about-header-content h1 {
        font-size: 2rem;
    }
    .about-header-content p {
        font-size: 1.1rem;
    }

    .about-content-container {
        padding: 0.5rem;
    }
    .introduction-section,
    .main-content-section,
    .expanded-about-me-section {
        padding: 0;
    }
    .main-heading,
    .sub-heading {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 1.3rem;
    }
    .main-content-container {
        min-width: unset;
    }
    /* .img-container {
        display: none;
    } */
}
