.top-of-page-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 30vh;
}

.top-of-page {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 3rem;
    right: 3rem;
    border: 2px solid rgb(206, 178, 39);
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 250;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}
.top-of-page:hover {
    opacity: 1;
}
.top-of-page-svg {
    font-size: 2rem;
    color: rgb(206, 178, 39);
}

.hidden {
    display: none;
}
@media screen and (max-width: 430px) and (orientation: portrait) {
    .top-of-page {
        right: 1rem;
        bottom: 1rem;
        opacity: 1;
    }
}
