.hamburger-container {
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 300;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    animation: slideIn 0.1s forwards;
    background-color: rgb(216, 200, 121);
}
.menu-shown {
    display: flex;
}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.hamburger-nav-list {
    flex-direction: column;
    align-items: center;
}
.hamburger-nav-list li {
    height: unset;
}
#homeLink {
    opacity: 0;
    transform: translateX(500px);
    animation: fadeLeft 0.2s 0.2s forwards;
}
#aboutLink {
    opacity: 0;
    transform: translateX(500px);
    animation: fadeLeft 0.2s 0.3s forwards;
}
#serviceLink {
    opacity: 0;
    transform: translateX(500px);
    animation: fadeLeft 0.2s 0.4s forwards;
}
#contactLink {
    opacity: 0;
    transform: translateX(500px);
    animation: fadeLeft 0.2s 0.5s forwards;
}
.close-btn {
    font-size: 3rem;
    background: unset;
    border: unset;
    color: black;
    align-self: flex-start;
    margin-left: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
@media screen and (max-width: 430px) and (orientation: portrait) {
    .hamburger-nav-list {
        justify-content: space-evenly;
    }
}
