* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
:root {
    --backgroundColor: rgb(231, 225, 194);
    --strongGold: rgb(216, 200, 121);
}
::selection {
    color: black;
    background-color: rgb(206, 178, 39);
}
html,
body {
    width: 100vw;
    height: 100vh;
}
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
    position: relative;
}
